<div class="bg-image">
  <div class="container">

    <form action="/main" method="post">
      <input type="submit">
    </form>
    
    <div class="header">
    <h1>All the articles</h1>

  </div>
  <div class="row1-container">
  </div>

  </div>
</div>
