<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
  <div class="card-trip-infos">
    <div>
      <h2>News title here</h2>
      <p>News here</p>
    </div>
    <%= link_to "Bookmark", "#", class: "btn btn-flat" %>
    <h2 class="card-author">Author?</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
